---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "../components/MainCard.astro";
import FeatureCard from "../components/mdx/FeatureCard.astro";
import ScrollToTop from "../components/widgets/ScrollToTop.astro";
import { Image } from "astro:assets";
import { featureCards } from "../data/feature-cards.ts";
import {
  USER_AVATAR,
  MONSTER,
  MONSTER_ULTRA,
  MONSTER_ORIGINAL,
  MONSTER_RESERVE,
  MONSTER_JUICE,
  MONSTER_REHAB,
  MONSTER_JAVA,
  MONSTER_TRIPLE_SHOT,
} from "../config";

const sectionBases = {
  monster: MONSTER,
  original: MONSTER_ORIGINAL,
  reserve: MONSTER_RESERVE,
  juice: MONSTER_JUICE,
  rehab: MONSTER_REHAB,
  ultra: MONSTER_ULTRA,
  java: MONSTER_JAVA,
  triple_shot: MONSTER_TRIPLE_SHOT,
};
---

<BaseLayout title="mworld">
  <MainCard
    title="welcome"
    description="A modern, responsive, feature-rich blog theme for Astro with dark/light mode and customizable options."
    textOverlay="mworld"
    infoIcon="lucide:info"
  >
    <Image
      class="mask mask-circle place-self-center"
      format="webp"
      width={150}
      height={150}
      src={USER_AVATAR}
      alt="Profile"
      loading="eager"
    />
    <div class="space-y-8">
      <!-- Hero Section -->
      <section class="py-6">
        <div class="flex flex-col items-center text-center">
          <h1
            class="text-4xl font-bold mb-4 bg-gradient-to-r from-emerald-300 to-emerald-600 bg-clip-text text-transparent"
          >
            🥤 m world
          </h1>
          <p class="text-xl text-base-content/80 max-w-3xl mb-8">
            Welcome to the ultimate Monster Energy drink catalog! You're a die-hard fan or just curious about the bold
            flavors, this website is your one-stop destination for exploring every variety in the Monster Energy lineup.
            <br />Discover your favorites and fuel up with the perfect Monster to match your vibe!
          </p>
          <div class="flex flex-wrap gap-4 justify-center">
            <div class="text-emerald-500 text-2xl font-bold mb-4">
              <Icon name="lucide:arrow-big-down-dash" class="w-5 h-5 inline" /><span>Dive in</span><Icon
                name="lucide:arrow-big-down-dash"
                class="w-5 h-5 inline"
              />
            </div>
          </div>
        </div>
      </section>

      {
        featureCards.sections.map((section) => (
          <section class="py-6">
            <h2 class="text-2xl font-bold mb-6 flex place-self-center gap-2">
              <Image
                class="mask"
                format="webp"
                width={300}
                height={150}
                src={`${sectionBases[section.bannerBase as keyof typeof sectionBases]}/${section.banner}`}
                alt={section.title}
                loading="eager"
              />
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols3 gap-6">
              {section.cards.map((card) => (
                <FeatureCard
                  title={card.title}
                  image={`${sectionBases[section.cardBase as keyof typeof sectionBases]}/${card.image}`}
                  description={card.description}
                  flavor={card.flavor}
                  color={card.color}
                />
              ))}
            </div>
          </section>
        ))
      }

      <!-- Scroll to top -->
      <section class="py-6">
        <div class="flex flex-wrap gap-4 justify-center">
          <ScrollToTop />
        </div>
      </section>
    </div>
  </MainCard>
</BaseLayout>
